<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间,指定这个mapper(对应接口的全限定类名) -->
<!-- id,对应接口的方法名 -->
<mapper namespace="com.study.mybatis14.INewsLabelDao">
	<resultMap type="NewsLabel" id="newsLabelMapper">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<collection property="children" 
					ofType="NewsLabel"
					select="selectChildrenByParent"
					column="id"
		/>
	</resultMap>
	<select id="selectChildrenByParent" resultMap="newsLabelMapper">
		select id,name
		from newslabel
		where pid=#{xxx}
	</select>
	
	
	
	<resultMap type="NewsLabel" id="newsLabelMapper2">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<collection property="children"
					ofType="NewsLabel"
					select="selectNewsLabelByPid"
					column="id"
		/>
	</resultMap>
	<select id="selectNewsLabelByPid" resultMap="newsLabelMapper2">
		select id,name from newslabel where pid=#{ooo}
	</select>
	<select id="selectNewsLabelById" resultMap="newsLabelMapper2">
		select id,name
		from newslabel
		where id=#{xxx}
	</select>
	
</mapper>