<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--加载配置文件  -->
	<properties resource="jdbc.properties"></properties>
	<!-- 定义别名 -->
	<typeAliases>
		<!-- 对指定类型定义别名 -->
		<!-- <typeAlias type="com.study.mybatis12.Student" alias="Student"/> -->
		<!-- 将指定包中所有类的简单类名当作其别名 -->
		<package name="com.study.mybatis12"/>
	</typeAliases>
	<!-- 配置运行环境 -->
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- 注册映射文件 -->
	<mappers>
		<mapper resource="com/study/mybatis12/mapper.xml" />
	</mappers>

</configuration>