<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IStudentDao">
	<!-- 
		解决字段名和属性名不一致的的问题 
		方案一:通过指定别名,如下
			tid,tname,tage,tscore是字段名,
			id,name,age,score是属性名
	-->
	<select id="selectAllStus" resultType="Student">
		select tid id,tname name,tage age,tscore score from student	
	</select>
	
	
	<!-- 
		解决字段名和属性名不一致的的问题 
		方案二:  通过resultMapper设置字段属性映射
			type:返回对象类型(在mybatis中设置好的别名,同resultType那样)
			id:映射名字
	-->
	<resultMap type="Student" id="studentMapper">
		<id column="tid" property="id"/>
		<result column="tname" property="name"/>
		<result column="tage" property="age"/>
		<result column="tscore" property="score"/>
	</resultMap>
	<select id="selectAllStus" resultMap="studentMapper">
		select tid,tname,tage,tscore  from student	
	</select>
	
	
</mapper>